pyrogram
tgcrypto
pytz
pytgcalls==3.0.0.dev24
yt-dlp
youtube-search-python
motor==3.0.0
dnspython
GitPython
pykeyboard
bs4
Pillow
pymediainfo
requests
unidecode
attrify
pyromod==1.1.0
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
wget
telegraph
heroku3
openai
APScheduler
kynaylibs==1.5.9
psutil
httpx[http2]
pyaes==1.6.1
pysocks==1.7.1
aiosqlite>=0.16.0,<0.18.0
textblob
tracemoepy
uwuify
flask
gunicorn
googletrans
aiofiles==22.1.0